<h2>Categories Listing</h2>

{{view Ember.TextField valueBinding="newCategoryName" action="addCategory"}}
<button {{action 'create'}}>Create</button>
<ul>
{{#each category in controller}}
  <li>
  	<h2>{{category.name}}</h2>
  	
  </li>
{{/each}}
</ul>